// body {
//     background: #ddd;
//     padding-left: 24px;
//     color: $talk-dark;
//     overflow-x: hidden;
// }

.small-2 {
    width: 16.6666%;
}

.float-left {
    float: left;
}

.clearfix::before,.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

#livedashboard {
    position: relative;
    background: #ddd;
    padding-left: 24px;
    color: $talk-dark;
    overflow-x: hidden;
    margin:0;
    $venue-column-width: 360px;
    #dashboard {
        display: flex;
    }
    #venue-column {
        flex: 0 0 $venue-column-width;
        z-index: 900;
        padding-top: 44px;
    }
    #venue-header {
        flex: 0 0 $venue-column-width;
        padding: 12px;
        border-bottom: 2px solid #999;
        // border-right: 1px solid #999;
        margin-bottom: 6px;
        height: 50px;
    }
    #timeline-column {
        flex: 1 1 100%;
        position: relative;
    }
    #timeline-header {
        padding: 12px;
        border-bottom: 2px solid #999;
        margin-bottom: 6px;
        height: 50px;
    }
    #current-time-holder {
        position: absolute;
        text-align: center;
        top: 26px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #current-time-badge {
        background: $vr-yellow;
        font-size: .75rem;
        padding: 2px 5px;
        border-radius: 2px;
        margin: 0 auto;
        box-shadow: 0 1px 2px rgba(black, 0.2);
        margin-left: 681px;
    }
    #current-time-line {
        position: absolute;
        background: $vr-yellow;
        width: 2px;
        left: 50%;
        height: 100vh;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin-top: 48px;
        z-index: 820;
        margin-left: -288px;
    }
    .venue-tab {
        background-image: linear-gradient(-180deg, white 0%, #eeeeee 100%);
        border: 2px solid white;
        // border-right: 1px solid #999;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        padding: 0;
        max-height: 80px;
        // padding-bottom: 6px;
        font-size: 12px;
        margin-bottom: 6px;
        p {
            margin: 0;
        }
        p.name-id {
            font-size: rem-calc(14);
            font-weight: 500;
            margin-right: 6px;
            line-height: 14px;
            margin-bottom: 8px;
            span {
                font-weight: 300;
            }
        }
        .state-badges {
            span {
                background: $vr-beige;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                border-radius: 2px;
                padding: 2px 4px;
                margin-right: 4px;
                &.connected, &.live {
                    background: $success-color;
                }
            }
        }
        .play-button-holder {
            width: 44px;
            height: 44px;
            float: left;
            margin-right: 12px;
            .play-button {
                width: 44px;
                height: 44px;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: #ccc;
                padding: 12px;
                outline: none;
                background: #f9f9f9;
                svg {
                    width: 18px;
                    height: 18px;
                    fill: currentColor;
                }
                &:hover {
                    background: #eee;
                    color: #bbb;
                }
                &.active {
                    background: $vr-light-blue;
                    color: white;
                }
            }
        }
        .server-status, .connection-status {
            height: 6px;
            background: $steel;
            border-right: 1px solid white;
            box-shadow: inset 0 1px rgba(black, 0.1);
            &.connected {
                background: $success-color;
            }
            &.awaiting-stream {
                background: $vr-yellow;
            }
        }
        .server-status {
            border-bottom-left-radius: 3px;
        }
        .server-heartbeat, .box-heartbeat {
            height: 6px;
            background: $steel;
            box-shadow: inset 0 1px rgba(black, 0.1);
            display: block;
            &.true {
                background: $success-color;
            }
            &.connected {
                background: $success-color;
            }
        }
        .server-heartbeat {
            border-right: 6px solid white;
        }
        // .box-heartbeat {
        //     border-right: 2px solid white;
        // }
        .top-row {
            // margin-bottom: 12px;
            padding: 12px;
        }
        .bottom-row {
            border-top: 2px solid white;
        }
    }
    .time-slot-holder {
        height: 82px;
        position: relative;
        margin-left: 50px;
        // padding-top: 6px;
        .time-slot-title {
            font-size: 10px;
            font-weight: 500;
            z-index: 820;
            position: absolute;
            top: 2px;
            left: 6px;
        }
        .time-slot-fill {
            background: $success-color;
            height: 74px;
            width: 210px;
            margin-left: 10px;
            position: absolute;
            top: 2px;
            z-index: -1;
        }
        .time-slot {
            width: 200px;
            border: 2px dotted $topbar-dark;
            position: absolute;
            height: 78px;
            top: 0;
        }
    }
    #time-grid {
        position: absolute;
        width: 2000px;
        cursor: -webkit-grab;
        * {
            cursor: -webkit-grab;
        }
        // background: yellow;
        height: 100vh;
        .marker {
            position: relative;
            width: 10%;
            float: left;
            border-left: 1px solid #bbb;
            height: 100%;
            padding-top: 12px;
            padding-left: 6px;
            font-size: 12px;
            &.half {
                border-left: 1px dotted #ccc;
            }
        }
    }
    .venue-timeslots {
        position: absolute;
        top: 44px;
        width: 100%;
    }
    .venue-timeslot-row {
        height: 82px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid rgba(white, 0.5);
        width: 100%;
        margin-bottom: 6px;
    }
    .point-in-time {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: $vr-purple transparent transparent transparent;
        position: absolute;
        z-index: 700;
    }
}