// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import 'jquery.ui.datepicker';
@import 'jquery.ui.slider';
@import 'jquery-ui-timepicker-addon';

.dropdown_menu {
    float: left;
}

.badge {
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    @include rounded;
}

.badge.ok { background-color: green; }
.badge.override { background-color: green; }
.badge.insufficient { background-color: red; }
.badge.norecording { background-color: red; }
.badge.failed { background-color: orange; }

.badge.active { background-color: green; }

html, body {
    width: 100%;
}

.admin_dashboard {
    svg {
        a {
            text-decoration: none;
        }
        text {
            text-anchor: middle;
            dominant-baseline: central;
        }
        circle {
            stroke: black;
        }
        .queue {
            fill: blue;
            font-size: 400%;
            font-weight: bold;
        }
    }
}