// SASS variable overrides must be declared before loading up Active Admins styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admins got SASS!

@import "active_admin/mixins";
@import "active_admin/base";
//@import "settings";

$my-color: black;


$system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$header-font-family: "Eagle", "Eagle-Book", $system-font-family;

$header-font-weight: normal;

$steel: #d9dadd !default;

$talk-dark: #29292b !default;

// We use these as default colors throughout
$primary-color: #2c46b0 !default;

// vr blue
$secondary-color: #54c6c6 !default;

// vr turq
$alert-color: #f82847 !default;

// vr red
$success-color: #60BD70 !default;

// vr greeen (new from nick)
$warning-color: #ffed00 !default;

// vr yellow
$info-color: #fef1de !default;

// vr beige
$brand-purple: #a339cd !default;

//vr-purple
$light-gray: #e1e2e7 !default;

//comments-bg
$bluish-gray: #3C404B !default;

//VR Brand:
$vr-blue: $primary-color;
$vr-light-blue: $secondary-color;
$vr-red: $alert-color;
$vr-purple: $brand-purple;
$vr-yellow: $warning-color;
$vr-beige: $info-color;
$topbar-dark: #35363b !default;


@import "stream_dashboard";

html, body {
    font-family: $system-font-family !important;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family !important;
    font-weight: $header-font-weight !important;
}

// using active_skin
$skinActiveColor: #d50021;
$skinHeaderBck: #292624;
$panelHeaderBck: #292624;
$skinLogo: image-url("logo.png") no-repeat 10px 2px;
@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import 'jquery-ui/datepicker';
@import 'jquery-ui/slider';
@import 'jquery-ui-timepicker-addon';
@import 'c3';

.dropdown_menu {
    float: left;
}

.badge {
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    @include rounded;
}

.badge.ok { background-color: green; }
.badge.override { background-color: green; }
.badge.insufficient { background-color: red; }
.badge.norecording { background-color: red; }
.badge.failed { background-color: orange; }

.badge.active { background-color: green; }

html, body {
    width: 100%;
    height: 100%;
}

.operations-index,
.admin_dashboard {
    svg {
        a {
            text-decoration: none;
        }
        text {
            dominant-baseline: central;
        }
        circle {
            stroke: black;
        }
        .queue {
            fill: blue;
            font-size: 200%;
            font-weight: bold;
        }

        line, .domain {
            stroke-width: 1px;
            fill: none;
            stroke: black;
        }
        .marker {
            stroke: lightgrey;
        }
        .stream text {
            text-anchor: start;
            &.bandwidth {
                text-anchor: end;
            }
        }
        background-color: papayawhip;
    }
}

.admin_metrics {
    .panel.figure {
        text-align: center;
        height: 75px;
        padding-top: 25px;
        margin-bottom: 0;
        e {
            display: block;
            font-size: 320%;
            margin-bottom: 12px;
        }
        a {
            display: block;
            color: #d0d0d0;
        }
    }

    td {
        width: 20%;
    }
}

#social {
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
}

#footer {
  display: none;
}
#title_bar .action_items span.action_item > a:not(.disabled):hover, #title_bar .action_items span.action_item > .dropdown_menu > a:not(.disabled):hover {
background-color: red;
color: white;
box-shadow: none;
text-shadow: none;
border: none;
}

#repl {
    background-color: black;
    margin: 0 0 10px;
    height: 200px;
    #log, input#code {
        background-color: black;
        color: lightgrey;
        font-family: monospace;
        font-weight: bold;
        font-size: 13px;
    }
    #log {
        height: 100%;
        overflow-y: scroll;
    }
    input#code {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
    }
    input#code:focus{
        outline: none;
    }
}

.terminal {
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
}

.admin_venues {
    .offline,
    .available           { background: #ccc; }
    .provisioning,
    .device_required     { background: $vr-beige; }
    .awaiting_stream,
    .disconnect_required { background: $vr-yellow; }
    .connected           { background: $success-color; }
    .disconnected        { background: $vr-red; }
}

.admin_talks {
    .created,
    .pending,
    .prelive,
    .postlive   { background: $vr-beige; }
    .processing { background: $vr-yellow; }
    .live,
    .archived   { background: $success-color; }
    .suspended  { background: $vr-red; }
}

.admin_devices {
    .offline,
    .unpaired  { background: #ccc; }
    .pairing   { background: $vr-purple; }
    .idle      { background: $vr-beige; }
    .streaming { background: $success-color; }
    .starting  { background: $vr-yellow; }
    .starting_stream,
    .restarting_stream,
    .stopping_stream { background: $vr-red; }
}
