// SASS variable overrides must be declared before loading up Active Admins styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admins got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// using active_skin
$skinActiveColor: #d50021;
$skinHeaderBck: #292624;
$panelHeaderBck: #292624;
$skinLogo: url("logo.png") no-repeat 10px 2px;
@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import 'jquery-ui/datepicker';
@import 'jquery-ui/slider';
@import 'jquery-ui-timepicker-addon';

.dropdown_menu {
    float: left;
}

.badge {
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    padding: 2px 4px;
    @include rounded;
}

.badge.ok { background-color: green; }
.badge.override { background-color: green; }
.badge.insufficient { background-color: red; }
.badge.norecording { background-color: red; }
.badge.failed { background-color: orange; }

.badge.active { background-color: green; }

html, body {
    width: 100%;
}

.admin_dashboard {
    svg {
        a {
            text-decoration: none;
        }
        text {
            text-anchor: middle;
            dominant-baseline: central;
        }
        circle {
            stroke: black;
        }
        .queue {
            fill: blue;
            font-size: 200%;
            font-weight: bold;
        }

        line, .domain {
            stroke-width: 1px;
            fill: none;
            stroke: black;
        }
        .marker {
            stroke: lightgrey;
        }
        .stream text {
            text-anchor: start;
            &.bandwidth {
                text-anchor: end;
            }
        }
        background-color: papayawhip;
    }
}

.admin_metrics {
    .panel.figure {
        text-align: center;
        height: 75px;
        padding-top: 25px;
        margin-bottom: 0;
        e {
            display: block;
            font-size: 320%;
            margin-bottom: 12px;
        }
        a {
            display: block;
            color: #d0d0d0;
        }
    }

    td {
        width: 20%;
    }
}

#social {
    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
}